@charset "utf-8";
/* CSS Document */

nav {
	width: 100%;
}

/* Navigation is displayed in a line */
nav li {
	display:inline-block;
}

nav a#pull {
	display: none;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

#topNavLeft {
	float: left;
}

#topNavLeft li a {
	padding:10px;
}

#topNavRight {
	float:right;
}

#topNavRight li a {
	padding: 15px;
}

.navDesktop {
	display: inline-block;
}

.navMobile {
	display: none;
}

#slideArea {
	height:500px;
	width:100%;
}

#logoBar {
	display: inline;
}

#logo {
	width: 552px;
	height: 114px;
}

#socialTop {
	float:right;
	margin-right:40px;
}

#socialTop img {
	height:45px;
	width:auto;
	padding:5px;
	padding-top: 10px;
}

#frontPageContent {
	width:960px;
	margin:0 auto;
	margin-top:-100px;
	overflow:auto;
}

#frontPageLeft {
	width:600px;
	position: relative;
	float:left;
}

#frontPageRight {
	width:300px;
	float:right;
	position: relative;
	right: 0;
	top: 0;
	padding-left:20px;
}

#footer {
	margin-right:30px;
	margin-top:30px;
	padding:20px;
}

#bottomNavLeft, #bottomNavRight {
	text-align:right;
}

#bottomNavLeft li, #bottomNavRight li {
	list-style:none;
	display:inline-block;
	font-family:Verdana, Geneva, sans-serif;
}

#bottomNavLeft li a {
	font-size:20px;
	padding-right:20px;
}

#bottomNavRight li a {
	font-size:16px;
	padding-right:20px;
}

select {
	display: none;
}

#socialBottom {
	float:right;
}

#socialBottom img {
	width:40px;
	height:auto;
}

@media screen and (max-width: 960px) {
	#slideArea {
		height: 300px;
	}
	
	#frontPageContent{
		width:720px;
	}
	
	#frontPageLeft {
		width: 420px;
	}
	
	#frontPageRight {
		width: 250px;
	}

	.navDesktop {
		display: none;
	}
	
	.navMobile {
		display: inline-block;
	}
}

@media screen and (min-width: 768px) {
	#frontPageRight {
		border-left:5px #286305 solid;
	}
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	
	nav {
		height: auto;
	}
	
	nav ul {
		display: none;
		float: left;
		height: auto;
	}
	
	nav a#pull {
		display: inline-block;
		background-color: #286305;
		width: 100%;
		height: 35px;
		position: relative;
		padding-top: 10px;
		padding-left: 25px;
	}
	
	nav a#pull:after {
		content:"";
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	
	nav li {
		float: none;
	}
	
	#frontPageContent {
		width: 480px;
		overflow:auto;
	}
	
	#frontPageLeft{
		float:right;
		width:470px;
	}
	
	#frontPageRight {
		width: 470px;
		border-top:5px #286305 solid;
		padding-top: 10px;
	}
	
	#bottomNavLeft,#bottomNavRight li a {
		display: none;
	}
	
	select {
		display: inline-block;
	}
}
@media only screen and (max-width: 480px) {
	nav {
		border-bottom: 0;
	}
	
	nav ul {
		display: none;
		height: auto;
	}
	
	nav a#pull {
		display: inline-block;
		background-color: #286305;
		width: 100%;
		height: 35px;
		position: relative;
	}
	
	nav a#pull:after {
		content:"";
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	
	nav li {
		float: none;
	}
	
	#logo {
		width: 441px;
		height: 91px;
	}
	
	#frontPageContent {
		width: 320px;
	}
	
	#frontPageLeft {
		width: 310px;
	}
	
	#frontPageRight {
		width: 310px;
	}
}

@media only screen and (max-width: 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	
	#logo {
		width: 331px;
		height: 66px;
	}
	
	#frontPageContent {
		width: 200px;
	}
	
	#frontPageLeft {
		width: 200px;
	}
	
	#frontPageRight {
		width: 190px;
	}

}
